body {
  background-image: url('/dacs/image/anh_backgroud_trang_chu.jpg');
  background-size: cover;
  background-position-y: -100px;
  height: 3500px;
}
h3{
  color: aliceblue;
}
.logo {
  width: 55px;
  height: auto;
  border-radius: 50%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  background-color: aqua;
  grid-template-columns: 1fr 6fr 1fr 1fr 1fr 1fr;
}

.hd {
  color: rgb(7, 16, 24);
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  ;
}

/* 
ul.sub_header {
  position: absolute;
  background-color: black;
  padding: 15px 0px;
  list-style: none;
  width: 100px;
}
ul.sub_header a{
  padding: 15px 15px;
  border-bottom: 1px solid rgb(114, 98, 98);
} */
#slogan {
  width: 1000px;
  padding: 0;
  /* margin-left: auto;
  margin-right: auto; */
  left: 50%;
  right: -50%;

}

.slogan {
  position: absolute;
  top: 100px;
}

.info {
  position: fixed;
  top: 15%;
  bottom: -60%;
  right: 0;
}

.user {
  width: 100px;
  height: 100px;
}

.search {
  position: fixed;
  top: 50%;
  width: 350px;
  left: 18px;
}
.list-group-item{
  width: 250px;
}
.map {
  position: absolute;
  top: 170px;
  left: 40vh;
  width: 1000px;
  height: 3230px;
}
.center{
  position: absolute;
  top: 170px;
  left: 50vh;
  width: 800px;
  height: 800px;
}
button {
  width: 140px;
  height: 56px;
  overflow: hidden;
  border: none;
  color: #fff;
  background: none;
  position: relative;
  padding-bottom: 2em;
}

button > div,button > svg {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

button:before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  background: currentColor;
  transition: transform 0.25s ease-out;
}

button:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

button .clone > *,button .text > * {
  opacity: 1;
  font-size: 1.3rem;
  transition: 0.2s;
  margin-left: 4px;
}

button .clone > * {
  transform: translateY(60px);
}

button:hover .clone > * {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

button:hover .text > * {
  opacity: 1;
  transform: translateY(-60px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

button:hover .clone > :nth-child(1) {
  transition-delay: 0.15s;
}

button:hover .clone > :nth-child(2) {
  transition-delay: 0.2s;
}

button:hover .clone > :nth-child(3) {
  transition-delay: 0.25s;
}

button:hover .clone > :nth-child(4) {
  transition-delay: 0.3s;
}
/* icon style and hover */
button svg {
  width: 20px;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(-50deg);
  transition: 0.2s ease-out;
}

button:hover svg {
  transform: translateY(-50%) rotate(-90deg);
}